*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
a:hover{
	color: orangered;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
header{	
	height: 100px;
}
 a {
	color: gray;
}
.h_logo{
	margin-top: 20px;
}

.h_logo a span{
	color: #f10180;
	font-size: 40px;
	font-family:"微软雅黑";
	margin-left: 245px;
	margin-top: 20px;
}
.h_logo p{
	margin-left: 240px;
	font-family:arial;
}
.h_advice{
	margin-top: -50px;
	margin-right: 200px;
	font-size:13px ;
}
section{
	/*height: 600px;*/
	height: 600px;
	background: url(../img/login/back.jpg) no-repeat;
	background-size: auto;
	background-position: center;
}

.login-panel{
	width: 360px;
	border-radius: 2px;
	background-color: #fff;
	margin-right: 250px;
	margin-top: 50px;
	height: 420px;
}
.login-panel-body{
	width: 360px;
}
.tab-nav{
	padding-right: 25;
	border-bottom: 1px solid #e0e0e0;
}
.tab-nav-item{
	display: block;
	/*width: 100%;*/
	color: #f10180;
	cursor: default;
	vertical-align: top;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	line-height: 50px;
}

.tab-content{
	
}
.passport-from{
	margin-right: auto;
	margin-left: auto;
	width: 300px;
}
.form-item-group{
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.input-tip{
	margin-top: 16px;
	color: #f64a4a;
	font-size: 12px;
	color: #666;
	position: relative;
	min-height: 19px;
	max-height: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	margin-top: 2px;
	margin-bottom: 5px;
	line-height: 1.5;
	display: block;
}
.input-tip span{
	font-family: "微软雅黑";
	color: #f10180;	
}
.form-item-group{
    position: relative;
    display: inline-block;  
    vertical-align: top; 
    width: 289.6px; 
}
.input{
	padding-left: 40px;
	width: 248px;
	height: 40px;
	line-height: 40px;
}
.passport-from{
	height: 300px;
}
.c-icon{
	position: absolute;
	background-image: url(//member-ssl.vipstatic.com/img/passport/sprites-hash-688e96f5.png?de2861bd);
	background-position: -348px -161px;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 13px;
	left: 11px;
	z-index: 1;
}
.i-con-account{
	display: inline-block;
	vertical-align: top;
}
.c-icon-password{
	background-image: url(//member-ssl.vipstatic.com/img/passport/sprites-hash-688e96f5.png?de2861bd);
    background-position: -372px -161px;
    width: 20px;
    height: 20px;
    position: absolute;
	top: 13px;
	left: 11px;
	z-index: 1;
}
.other-item{
	width: 300px;
    height: 19px;
}
.checkbox{
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	font-size: 0;
	line-height: 0;
}  
.checkbox-normal{
	vertical-align: text-top;
}

.ui-checkbox-simulation{
	display: block;
	background-image: url(//bootstrap.vipstatic.com/img/ui/sprite.png?d9eadd17);
	background-position: -48px 0;
	width: 19px;
	height: 16px;
}

.checkbox-label,.forget-link{
	font: 12px/1.5 tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,微软雅黑,宋体,sans-serif;
    color: #333;

}
.submit-function{
	margin-top: 40px;
	width: 300px;
	height: 46px;
	cursor: pointer;
	height: 46px;
	color: #fff;
	background-color: #f10180;
	border: 1px solid #f10180;
	font: 18px/44px tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
	display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    cursor: pointer;

}
.login-panel-footer{
	padding-right: 30px;
	padding-left: 30px;
}

.login-third{
	/*margin-top: 10px;*/
	padding-top: 20px;
	/*padding-bottom: 20px;*/
	border-top: 1px solid #e0e0e0;
}
.register-link{
	position: relative;
	z-index: 2;
	color: #333;
	line-height: 24px;
	font-size: 14px;
}
.third-alipay{
	background-position: -569px -121px;
	float: left;
	margin-right: 10px;
	background-image: url(//member-ssl.vipstatic.com/img/passport/sprites-hash-688e96f5.png?de2861bd);
	width: 24px;
	height: 24px;
}
footer{
	margin-top: 50px;
	margin-bottom: 50px;
}
ul li{
	list-style: none;
}
.f{
	margin-top: 20px;
}
 .f ul {
	/*display: inline-block;*/		
		float: left;
		margin-left: 500px;
}
.f ul li{
	/*display: inlne-block*/
	float: left;
	width: 80px;
	height: 20px;
	line-height: 20px;
	text-align: center;	
	/*margin-left: 50px;*/

	font-size: 12px;
}
.f ul li:nth-of-type(4){
	width: 160px;
}
.f:after{
	content: '';
	display: block;
	clear: both;
}
.f p{
	text-align: center;
	font-size: 12px;
	color: gray;
}



